<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <p>
        10277:Agilent Technologies Inc' <br>
        10278: Alcoa Inc <br>
        10279: Yahoo! Inc <br>
        10280: American Addiction Centers <br>
        10281: American Airlines Group Inc <br>
        10282: Altisource Asset Management Corp <br>
        10283: Atlantic American Corp <br>
        10284: Aaron's, In <br>
        10285: Applied Optoelectronics Inc' <br>
        10286: AAON, Inc 
    </p>

    <form action="" method="post">
        {% csrf_token %}
        Enter the Equity ID:  <input type="number" name="inp">

        <button type="submit">SUBMIT</button>

    </form>
</body>
</html>